.button {
  font-weight: 700;
  margin-left: 0;
  margin-right: 15px;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(22, 125, 53);
  transition: all;
  transition-duration: 200ms;
}

.button:hover {
  background-color: rgb(17, 99, 41);
}
