.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(20, 20, 20);
}

.footerCol {
  padding: 30px;
  min-width: 30%;
  max-width: 30%;
}

@media (max-width: 768px) {
  .footerCol {
    max-width: 60%;
  }
}

.footerCol ul {
  text-decoration: none;
  list-style-type: none;
}
