.getinvolved {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cardheader {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 0;
  padding: 15px;
  padding-top: 2px;
}

.card {
  max-width: 650px;
  margin: 20px;
  margin-top: 0;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 2px;
}

.label {
  font-size: 3rem;
  font-weight: 700;
}
