.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  justify-content: space-around;
  padding: 0 75px;
  height: 90vh;
}

.textcontainer {
  font-size: 3vw;
}

.pipinstallcontainer {
  width: max-content;
  background-color: rgb(20, 20, 20);
  border-radius: 1vw;
  padding: 1vw;
  margin-top: 8px;
}

.pipinstall {
  font-size: 1.2vw;
  font-family: 'Source Code Pro', monospace;

  overflow: hidden;
  white-space: nowrap;
  opacity: 0;

  color: white;

  padding-right: 0.5ch;
  border-right: 2px solid;

  animation: typing 1.5s steps(35, end) 1s forwards, blinking 600ms step-end 8 forwards;
}

.showcasecontainer {
  font-size: 1rem;
  font-weight: 400;
}

.showcaseimage {
  width: 45vw;
  height: 38vw;
  border-radius: 10px;
  background-color: aliceblue;
  background-image: url(https://i.imgur.com/7mOk5E7.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.frameworkgradient {
  background-image: linear-gradient(45deg, rgb(22, 125, 53), rgb(63, 188, 111));
  background-clip: text;
  color: transparent;
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0%;
    opacity: 1;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

@media only screen and (max-width: 950px) {
  .showcasecontainer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .pipinstallcontainer,
  .pipinstall {
    display: none;
  }
}
