.nav {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 0 75px;
  height: 10vh;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
}

.mobilemenuicon {
  display: none;
}

.nav ul {
  display: flex;
  font-size: 1.05rem;
  list-style: none;
  gap: 16px;
}

.nav a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 4px;
  opacity: 1;
  transition: 500ms;
}

.nav a:hover {
  color: #dedede;
  transform: translateY(-4px);
}

.mobileroutes a {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

/* Ultra Small
-----------------------*/
@media only screen and (max-width: 600px) {
  .title {
    display: none;
  }

  .nav {
    display: block;
    justify-content: baseline;
    padding: 35px 35px;
  }

  .nav .mobilemenuicon {
    display: block;
  }

  .nav ul {
    display: block;
  }

  .nav .routes {
    display: none;
  }
}
