.card {
  width: 384px;
  height: 208px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:hover {
  color: cadetblue;
  transition: all;
  transition-duration: 300ms;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  display: none;
}

.author {
  display: none;
}
